/* src/App.css */
:root {
    --indigo-dark: #090820;
    --purple-dark: #22153d;
    --purple-medium: #25103e;
    --lavender: #bca7d6;
    --blue-neon: #00d4ff;
    --red-neon: #ff3366;
    --green-neon: #4aff9c8c;
    --purple-other: #4a148c;

    --navbar-color: var(--indigo-dark);
    --navbar-text: white;

    --tab-bg: white;
    --tab-color: var(--purple-medium);
    --tab-text: var(--text-secondary);

    --bg-color: var(--purple-dark);
    --card-bg: var(--lavender);

    --text-main: var(--purple-dark);
    --text-secondary: white;
    --text-main-outline: white;
    --text-secondary-outline: var(--purple-dark);

    --accent-blue: var(--lavender);

    --border-color: #eaeaea;
    --border-secondary-color: black;

    --shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
    margin: 0;
    font-family:
        Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
}

.app-container {
    min-height: 100vh;
}
.content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 20px;
}
